
@font-face {
  font-family: "Inter";
  src: url("../assets/Fonts/Inter-Light.ttf") format("TrueType");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Fonts/Inter-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Fonts/Inter-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Fonts/Inter-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Fonts/Inter-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}
