.amenities {
  margin-top: rem(36);
  @media screen and (max-width: $mantine-breakpoint-sm) {
    margin-top: rem(50);
  }
}
.spaceOverview {
  margin-top: rem(120);
  @media screen and (max-width: $mantine-breakpoint-sm) {
    margin-top: rem(50);
  }
}
.appDownload {
  margin-top: rem(120);
  @media screen and (max-width: $mantine-breakpoint-sm) {
    margin-top: rem(50);
  }
}